<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>About Us</h5>
        <ul>
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Help</h5>
        <ul>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Returns</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Follow Us</h5>
        <ul>
          <li><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Newsletter</h5>
        <p>Stay up to date with our latest news and offers</p>
        <form>
          <input type="email" placeholder="Enter your email address">
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="copyright">Copyright 2023 Shopping Website. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
