<nav class="navbar">
  <div class="logo">
    <a href="#"><img src="assets/logo.png"></a>
  </div>
  <div class="nav-actions">
    <p-button label="Carrito" icon="pi pi-cart-plus" [raised]="true" severity="secondary" />
    <p-button label="Iniciar sesion" icon="pi pi-user" [text]="true" [raised]="true"  />
  </div>
  <div class="nav-links">
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Tecnlogia</a></li>
      <li><a href="#">Belleza</a></li>
      <li><a href="#">Alimentos</a></li>
      <li><a href="#">Hogar</a></li>
      <li><a href="#">Moda</a></li>
      <li><a href="#">Vehiculos</a></li>
    </ul>
  </div>
</nav>
