body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.userinput {
  margin-left: 10px;
}

.mailinput {
  margin-left: 43px;
}

.register .p-card {
  margin: auto;
}

.register .p-inputtext {
  width: 100%;
  max-width: 250px;
}

.login {
  cursor: pointer;
  color: blue; /* Color azul para indicar un enlace */
  text-decoration: underline; /* Subrayado para indicar un enlace */
}

.login:hover {
  color: darkblue; /* Cambiar el color al pasar el mouse */
}

.register img {
  display: block;
  margin: 0 auto; /* Centrar la imagen horizontalmente */
  width: 100%; /* Ajustar según sea necesario */
  height: auto; /* Mantener la relación de aspecto */
  max-width: 400px; /* Ajustar según sea necesario */
  max-height: 400px; /* Ajustar según sea necesario */
}
