<!-- cart.component.html -->
<h2 class="cart-header">Cart</h2>
<ul class="cart-list">
  <li *ngFor="let product of cart | async" class="cart-item">
    <div class="cart-item-details">
      <span class="product-title">{{ product.title }}</span>
      <img class="product" [src]="product.images && product.images[0]">
      <span class="product-price">Price: {{ '$' + product.price }}</span>
      <p-button class="remove" icon="pi pi-times" [rounded]="true" severity="danger" (onClick)="removeFromCart(product)"/>

    </div>
    <div class="cart-item-price">
      <span class="price">{{ '$' + (product.price) }}</span>
    </div>
  </li>
</ul>
<div class="cart-total">
  <span class="total-label">Total:</span>
  <span class="total-value">{{ getTotal() | currency: 'USD' }}</span>
  <div>
    <p-button class="buy-button" (click)="buyItems()" label="Pagar" icon="pi pi-dollar" iconPos="right" />
    <p-button class="clear-button" label="Vaciar carrito" (click)="clearClart()" icon="pi pi-trash" severity="danger"/>
  </div>
</div>
