<!-- cart.component.html -->
<h2 class="cart-header">Cart</h2>
<ul class="cart-list">
  <li *ngFor="let product of cart | async" class="cart-item">
    <div class="cart-item-details">
      <span class="product-title">{{ product.title }}</span>
      <span class="product-price">Price: {{ '$' + product.price }}</span>
    </div>
    <div class="cart-item-price">
      <span class="price">{{ '$' + (product.price) }}</span>
    </div>
  </li>
</ul>
<div class="cart-total">
  <span class="total-label">Total:</span>
  <span class="total-value">{{ getTotal() | currency: 'USD' }}</span>
  <button class="buy-button" (click)="buyItems()">Buy Now</button>
</div>
