<p-messages
class="fixed-top"
[(value)]="messages"
[showTransitionOptions]="'500ms'"
[hideTransitionOptions]="'500ms'"
[enableService]="true">
</p-messages>

<div class="product-list">
  <div class="product-items" *ngFor="let product of paginatedProducts">
    <img [src]="product.images && product.images[0]" alt="{{ product.title }}" class="product-image" style="width: 200px;" />
    <div class="product-details">
      <div class="product-category"><strong>{{ product.category }}</strong></div>
      <div class="product-title">{{ product.title }}</div>
      <div class="product-rating">
        <span class="rating">{{ product.rating }}</span>
        <i class="pi pi-star-fill"></i>
      </div>
      <div class="product-price">{{ '$' + product.price }}</div>
      <div class="product-actions">
        <button pButton icon="pi pi-heart" [style]="{ 'margin-right': '10px' }"></button>
        <button pButton icon="pi pi-shopping-cart" class="cart-button" label="Agregar" (click)="agregarAlCarrito(product)"></button>
      </div>
    </div>
  </div>
</div>

<div class="pagination">
  <button [disabled]="currentPage === 1" (click)="prevPage()" class="pagination-button">Previous</button>
  <span>{{ currentPage }} / {{ totalPages }}</span>
  <button [disabled]="currentPage === totalPages" (click)="nextPage()" class="pagination-button">Next</button>
</div>
